- if favorites.has_favorite?(current_user)
  = link_to cancel_favorite_question_path(question_id: question), method: :delete, remote: :true, class: "vote-up vote-on" do
    %i{class: "glyphicon glyphicon-star"}
- else
  = link_to favorite_question_path(question_id: question), method: :put, remote: :true, class: "vote-up vote-off" do
    %i{class: "glyphicon glyphicon-star"}