/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.topbar {
  width: 100%;
  background: rgba(0,0,0,0.86);
  height: 34px;
  line-height: 1;
  p {
    color: #e0e0e0;
    text-decoration: none;
    display: inline-block;
    height: 24px;
    padding: 0 7px 0 7px;
    vertical-align: top;
    font-size: 13px;
  }
}
.container {
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

#header {
  margin: 0 auto;
  width: 1000px;
  height: 96px;
  padding: 0 15px;
  box-sizing: content-box;
  position: relative;
}

#hlogo {
  float: left;
  display: inline-block;
  a {
    color: #707070;
    //padding: 7px 0px 0px 7px;
    font-size: 24px;
    font-weight: bold;
    font-family:"Hiragino Kaku Gothic Std";
  }
}

#hmenus {
  position: absolute;
  right: 15px;
  top: 35px;
  .mainnavs {
    display: inline-block;
    ul {
      list-style: disc;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 6px 0 0;
        padding: 0;
        a {
          text-decoration: none;
          display: block;
          padding: 4px 10px 5px;
          font-size: 14px;
          line-height: 1.3;
          color: #fff;
          background-color: #858d93;
        }
        p {
          text-decoration: none;
          display: block;
          padding: 4px 10px 5px;
          font-size: 14px;
          line-height: 1.3;
          color: #000;
          background-color: #858d93;
        }
      }
    }
  }
  .askquestion {
    display: inline-block;
    a {
      padding: 4px 10px 5px;
      font-size: 14px;
      line-height: 1.3;
      text-decoration: none;
      color: #fff;
      background-color: #858d93;
    }
  }
}

#content {
  min-height: 450px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 1000px;
  padding: 15px;
  background-color: #fff;
}

hr {
  height: 1px;
  background-color: #e0e0e0;
  border: none;
  color: #e0e0e0;
}