// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mainbar, .mainbar {
  float: left;
  width: 728px;
  margin: 0 0 0 0;
  padding: 0;
  h1 {
    margin-bottom: 0;
    color: #222;
    font-weight: normal;
    font-size: 18px;
    float: left;
  }
  #tabs, .tabs {
    height: 38px;
    float: right;
    a.youarehere {
      font-weight: normal;
      border: 1px solid #e0e0e0;
      border-bottom-color: #fff;
      border-top: 2px solid #f90;
      color: #222;
    }
    a {
      background: #fff;
      border: 1px solid transparent;
      border-top-width: 2px;
      border-bottom-color: #e0e0e0;
      color: #777;
      display: block;
      float: left;
      font-size: 12px;
      line-height: 1;
      margin: 0 8px 0 0;
      padding: 10px;
      text-decoration: none;
    }
  }
  #qlist-wrapper {
    clear: both;
    #question-mini-list {
      overflow: auto;
      margin-bottom: 30px;
      .question-summary {
        //padding: 12px 0 10px 0;
        padding: 10px 0 0 0;
        border-bottom: 1px solid #e0e0e0;
        overflow: hidden;
        float: left;
        width: 728px;
        .cp {
          vertical-align: top;
          float: left;
          margin-right: 10px;
          cursor: pointer;
          .votes {
            text-align: center;
            display: inline-block;
            height: 38px;
            min-width: 38px;
            margin: 0 3px 0 0;
            font-size: 11px;
            color: #777;
            padding: 5px 5px 6px 5px;
          }
          .views {
            text-align: center;
            display: inline-block;
            //height: 38px;
            height: auto;
            min-width: 40px;
            margin: 0 7px 0 0;
            font-size: 11px;
            color: #777;
            padding: 5px 5px 6px 5px;
          }
          .status {
            text-align: center;
            display: inline-block;
            margin: 0 3px 0 0;
            min-width: 44px;
            height: auto;
            font-size: 11px;
            padding: 6px;
          }
          .answered-accepted {
            color: #e1e818;
            background-color: #75845c;
          }
          .answered {
            color: #fff;
            background-color: #75845c;
          }
          .mini-counts {
            text-align: center;
            margin-bottom: 4px;
            font-size: 17px;
            font-weight: 300;
            //color: #777;
          }
        }
        .summary {
          width: 530px;
          padding: 0;
          float: left;
          h3 {
            font-size: 15px;
            color: #07c;
            margin-bottom: .35em;
            line-height: 1.3;
            //line-height: 2.0;
          }
          .tags {
            line-height: 18px;
            float: left;
          }
        }
      }
    }
  }
}


.started {
  width: auto;
  line-height: inherit;
  padding-top: 4px;
  white-space: nowrap;
  float: right;
  font-size: 12px;
  color: #07c;
}

.started-comment {
  font-size: 12px;
  color: #07c;
  text-align: right;
}

#question-header {
  clear: both;
  padding: 5px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
  h1 {
    margin-bottom: .5em;
    font-size: 24px;
    line-height: 1.3;
  }
}

.question {
  clear: both;
}

.title-label {
  font-weight: bold;
  font-size: 14px;
}

.title-text {
  width: 590px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background: #fff;
  color: #444;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 8px 10px;
}

.body-text {
  padding: 10px;
  height: 200px;
  line-height: 1.3;
  width: 660px;
  background: #fff;
  color: #444;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

.tag-text {
  padding: 10px;
  line-height: 1.3;
  width: 660px;
  background: #fff;
  color: #444;
  border: 1px solid #ccc;
  font-size: 14px;
}



#answers {
  clear: both;
  padding-top: 10px;
  width: 728px;
  #answers-header {
    margin-top: 10px;
    width: 728px;
    .subheader {
      clear: both;
      margin-bottom: 15px;
      height: 34px;
      border-bottom: 1px solid #e0e0e0;
      h2 {
        color: #444;
        font-size: 18px;
        font-weight: 600;
        float: left;
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
  .answer {
    //padding-bottom: 20px;
    padding-bottom: 5px;
    //padding-top: 20px;
    padding-top: 5px;
    width: 728px;
    td.answercell {
      vertical-align: top;
    }
  }
}

.comments {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  width: 660px;
  margin-top: 10px;
  padding-bottom: 10px;
  line-height: 135%;
  font-size: 13px;
  border-top: 1px solid #e0e0e0;
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.commenttext {
  font-size: 13px;
  line-height: 1.3;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

#tabs, .tabs {
  height: 38px;
  float: right;
  a {
    background: #fff;
    border: 1px solid transparent;
    border-top-width: 2px;
    border-bottom-color: #e0e0e0;
    color: #777;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 1;
    margin: 0 8px 0 0;
    padding: 10px;
    text-decoration: none;
  }
}


.subheader {
  clear: both;
  margin-bottom: 15px;
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
}

.votecell {
  vertical-align: top;
  padding-right: 15px;
  .vote {
    min-width: 46px;
    text-align: center;
    .vote-up-off {
      height: 20px;
      font-size: 20px;
    }
    .vote-count-post {
      margin: 8px 0;
      font-size: 20px;
      display: block;
      color: #777;
    }
    .vote-down-off {
      height: 30px;
      font-size: 20px;
    }
    .star-on, .star-off {
      height: 30px;
      font-size: 20px;
    }
  }
}
.post-text {
  width: 660px;
  margin-bottom: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3;
}
.post-taglist {
  margin-bottom: 10px;
  clear: both;
}

.post-tag {
  padding: .4em .5em;
  text-align: center;
  line-height: 1;
  color: #3e6d8e;
  background-color: #e4edf4;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 0;
  border: 1px solid #e4edf4;
}